.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    width: 1140px;
    margin: 0 auto;
}
/*shared styles */
.fontBlack{
    color: black;
}
.fontGray{
    color: #898c8f;
}
.fontOrange{
    color: #e95a08;
}
.upperNav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px; 
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 16px;
}
.selected{
    font-weight: 800;
}
.cartBtn{
    background-color: white;
    border: none;
}
.cartBtn a{
    text-decoration: none;
    font-size: 16px;
}

/*banner--------------*/
.banner{
    height: 461px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*border: 1px solid black;*/
    margin-bottom: 110px;
}
.bannerTitle{
    font-size: 65px;
    font-weight: 700;
}
.bannerPara{
    margin-top: 0;
    font-size: 22px;
    font-weight: 400;
}
.banner img{
    margin: 0;
}

/*Our Plants */
.ourPlantsTexts{
    text-align: center;
}
.ourPlantsTitle{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 16px;
}
.ourPlantsPara{
    font-size: 22px;
    font-weight: 400;
    padding-left: 126px;
    padding-right: 126px;
    margin-bottom: 50px;
}
.plantCardConatainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.plantCard{
    display: flex;
    width: 270px;
    height: 485px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /*border: 2px solid black;*/
}
.plantName{
    font-size: 22px;
    font-weight: 500; 
    margin: 0px; 
}
.plantPrice{
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}
.btnCart{
    width: 270px;
    color: white;
    background-color: #e95a08;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    align-self: stretch;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0px;
}


